Phase2/parser
Phase2/parser.c
Phase2/parser.h
Phase2/parser.output
Phase2/scanner.c
settings.json
.vscode
Phase3/parser
Phase3/parser.c
Phase3/parser.h
Phase3/parser.output
Phase3/scanner.c
Phase3/test.asc
Phase3/quads.txt
Phase4/parser
Phase4/parser.c
Phase4/parser.h
Phase4/parser.output
Phase4/scanner.c
Phase4/test.asc
Phase4/quads.txt

